<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUVuNZeXHDIvAExSqjKKNf_4-IwxgfjWA</string>
	<key>GCM_SENDER_ID</key>
	<string>1087959168993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.SamePage</string>
	<key>PROJECT_ID</key>
	<string>samepage-9c897</string>
	<key>STORAGE_BUCKET</key>
	<string>samepage-9c897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087959168993:ios:aa01e089e084cd4f08c4a0</string>
</dict>
</plist>